In [6]:
import pandas as pd
#1- 990 --> 1
test = pd.read_csv("test.csv")
test2 = pd.read_csv("test.csv")
# test["emergency_or_not"]=0
train =pd.read_csv("train/train.csv")
train = train.append(test)

## Joining Train and Test and sorting the images

#### Here we can see Data is splitted 0-990 images are 1 and rest are 0

In [11]:
train[['no.','jpg']] = train.image_names.str.split(".",expand=True)
train.sort_values(by=["no."],ascending=True)

     image_names  emergency_or_not   no.  jpg
880        0.jpg               1.0     0  jpg
1489       1.jpg               1.0     1  jpg
545       10.jpg               1.0    10  jpg
96       100.jpg               NaN   100  jpg
684     1000.jpg               NaN  1000  jpg
...          ...               ...   ...  ...
1587     995.jpg               0.0   995  jpg
1252     996.jpg               0.0   996  jpg
358      997.jpg               0.0   997  jpg
234      998.jpg               NaN   998  jpg
9        999.jpg               0.0   999  jpg

[2352 rows x 4 columns]

In [116]:
test = pd.read_csv("test.csv")
test2 = pd.read_csv("test.csv")
test["emergency_or_not"]=0
test[['no.','jpg']] = test.image_names.str.split(".",expand=True,)
test[test["no."].astype(int) <= 990] = 1
test["emergency_or_not"] = test[test["no."].astype(int) <= 990]
test["emergency_or_not"] = test["emergency_or_not"].fillna(0)
print(test)
test2["emergency_or_not"] = test["emergency_or_not"]
test2.to_csv("submit.csv",index=False)

    image_names  emergency_or_not   no.  jpg
0      1960.jpg                 0  1960  jpg
1             1                 1     1    1
2      2082.jpg                 0  2082  jpg
3             1                 1     1    1
4      1907.jpg                 0  1907  jpg
..          ...               ...   ...  ...
701           1                 1     1    1
702    1027.jpg                 0  1027  jpg
703           1                 1     1    1
704    2176.jpg                 0  2176  jpg
705    1014.jpg                 0  1014  jpg

[706 rows x 4 columns]

In [ ]:
train[['no.','jpg']] = train.image_names.str.split(".",expand=True)
train["no."] = train["no."].astype(int)
train.sort_values(["no."],ascending=True).to_excel("refer.xlsx",index=False)